@{
    ViewBag.Title = "Stock Price Predictor";
}
<div class="wrapper">
    <h1>Dow Jones Industrial Average Price Predictor</h1>
    <h3>
        Enter any date (after 1915) and using a unique self-calculated formula,
        this program will predict the price of the DJIA at that time.
    </h3>
    <form method="POST">
        <input type="date" name="date" class="date" />
        <input type="submit" name="enter" value="Enter" class="submit" />
    </form>
    <div id="bigOlGraph"></div>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script>
        window.onload = function () {
		var chart = new CanvasJS.Chart("bigOlGraph", {
			theme: "light2",
			animationEnabled: true,
			title: {
				text: "Simple Column Chart in ASP.NET MVC"
			},
			subtitles: [
				{ text: "Try Resizing the Browser" }
			],
			data: [
			{
				type: "line", //change type to bar, line, area, pie, etc
				
                dataPoints: @Html.Raw(ViewBag.dataPoints),
        
			}
			]
		});

        chart.render();
	};
    </script>
</div>
