html{
    height: 100%;
}
body {
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), white);
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;
}
.wrapper {
    display: flex;
}

/* Start Title Styling */
.nonGraph {
    display: flex;
    flex-direction: column;
}
h1, h3 {
    color: white;
    text-align: center;
}
/* End Title Sytling */

/* Start Nav Style */
    /* Navbar container */
nav {
    overflow: hidden;
    background-color: rgba(255,11,11,.5);
    display: block;
}

    /* Links inside the navbar */
nav a {
    float: left;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.logo {
    font-family: Brush Script MT, Brush Script Std, cursive;
    float: left;
    font-size: 22px;
}
    /* The dropdown container */
.about {
    float: right;
    overflow: hidden;
    padding-right: 20px;
}

    /* Dropdown button */
.about .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: black;
    padding: 16px 16px;
    background-color: inherit;
    box-shadow: none;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}



    /* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    /* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 4px;
    text-decoration: none;
    display: block;
    text-align: center;
}

    /* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

    /* Show the dropdown menu on hover */
.about:hover .dropdown-content {
    display: block;
}

/* End nav style */

/* Start form style */
form{
    margin-top: 3em;
    display: flex;
    justify-content: center;
}
.date {
    font-size: 1em;
    border: 2px solid rgb(203, 11, 11);
    height: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    width: 11.6em;
    text-align: center;
}
.submit {
    font-size: 12px;
    background-color: white;
}
/* End form style */

/* Start result paragraph styles */
.results{
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.results p {
    text-align: center;
    box-shadow: 0px 8px 16px 0px;
    background-color: rgba(255,11,11,.5);
    text-decoration-color: black;
    font-size: 1.5em;
}
/* End result paragraph styles */


#bigOlGraph{
    align-self: center;
    margin-top: 5px;
    margin-left: 5px;
    height: 450px;
    width: 80%;
    background-color: white;
    /*border: 5px solid black;*/
    box-shadow: 0px 8px 16px 0px;
}
@media screen and (max-width: 1000px){
    .nonGraph{
        display: inherit;
    }
    .wrapper{
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .form {
        margin-top: 3em;
        display: flex;
        justify-content: center;
    }
    #bigOlGraph {
        display: flex;
        align-self: center;
        margin-top: 0;
    }    
}